.active {
  text-decoration: none;
  font-style: normal;
  color: black;
}

body {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-style: italic;
}

h1 {
  background: darkslategray;
  color: white;
  padding: 10px;
}

footer {
  position: sticky;
  color: white;
  background-color: darkslategray;
  padding: 1%;
  bottom: 0;
  right: 0;
}
